$main-color: #0d1211;
$primary-color: #fff;

@mixin container-style{
    width: 100vw;
    height: 100vh;
    // align horizontally and vertically
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
.container > * {
    width: 100%;
}