$main-color: #0d1211;
$primary-color: #fff;
$secondary-color: green;

@mixin container {
    width: 100vw;
    height: 100vh;
    // align horizontally and vertically
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    margin: 0 auto;

    & >* {
     width: 90%;   
    }
}

@mixin buttons {
    font-family: 'Italiana';
    color: $primary-color;
    font-size: 2em;
    font-weight: 900;
    top: 80%;
    background-color: $secondary-color;
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid $primary-color;
    padding: 15px 32px;
    margin: 4px 2px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 30px whitesmoke;
        transform: translate(-0.1rem);
        transition: transform 150ms;
    }
}

