@import 'utilities';

h2 {
    font: {
        family: 'Italiana', serif;
        size: 2rem;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .container > * {
    width: 100%;
  }

.justify-center{
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


  .answer {
    font: {
        family: 'Pompiere', cursive;
        size: 1.6em;
    }
    text-align: center;
    width: 85%;
    background-color: $main-color;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: 4px solid white;
    margin: auto;
    padding: 1.5rem;
    margin-bottom: 3%;


    &:hover {
        border-color: whitesmoke;
        box-shadow: 0.5rem 0.5rem rgb(50, 55, 50);
        transform: translateY(-0.5rem);
        cursor: pointer;
        background-color: var(--color-primary);
        color: black;
    }
  }
